<%# @title = "Visual Studio Code - Projects - Ticketee" %>
<%# @title = @project.name + " - Projects - Ticketee" %>
<%= title @project.name, "Projects" %> <%#"Projects", "otra cosa" %>

<h1><%= @project.name %></h1>
<p><%= @project.description %></p>
<%= link_to "Edit Project", edit_project_path(@project) %>